<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yatatsu.sample_implicit_intent_working" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- yatatsu://sample.implicit.intent/standard?message=hello -->
        <activity
            android:name=".LandingStandardActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="yatatsu"
                    android:host="sample.implicit.intent"
                    android:path="/standard" />
            </intent-filter>
        </activity>

        <!-- yatatsu://sample.implicit.intent/singletask?message=hello -->
        <activity
            android:name=".LandingSingleTaskActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="yatatsu"
                    android:host="sample.implicit.intent"
                    android:path="/singletask" />
            </intent-filter>
        </activity>

        <!-- yatatsu://sample.implicit.intent/singletop?message=hello -->
        <activity
            android:name=".LandingSingleTopActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="yatatsu"
                    android:host="sample.implicit.intent"
                    android:path="/singletop" />
            </intent-filter>
        </activity>


    </application>

</manifest>
